<div class="header">
<button (click)="onLoginClick()" class="login-button">Login</button>
</div>

<h1>Bem-vindo à Clínica Veterinária</h1>
<p>Aqui você pode encontrar informações sobre vacinas para cães e gatos.</p>

<p>As vacinas são uma parte importante da saúde de qualquer animal de estimação. Elas ajudam a proteger seus animais de estimação de doenças graves e potencialmente fatais. É importante que seus animais de estimação sejam vacinados regularmente.</p>

<p>Oferecemos uma ampla variedade de vacinas para cães e gatos. Nossas vacinas são de alta qualidade e são administradas por profissionais qualificados.</p>

<p>Se você tem alguma dúvida sobre vacinas para animais de estimação, por favor, não hesite em nos contatar.</p>

<p>Esperamos que você visite nossa clínica veterinária em breve!</p>

<p><strong>Vacinas para cães</strong></p>
<p><img src="cachorro.png" alt="Cão tomando vacina"></p>
<p>Os cães devem ser vacinados contra as seguintes doenças:</p>

<ul>
<li>Raiva</li>
<li>Parvovírus canino</li>
<li>Distemper canino</li>
<li>Hepatite canina infecciosa</li>
<li>Leptospirose</li>
<li>Bordetella bronchiseptica</li>
<li>Coronavírus canino</li>
</ul>

<p><strong>Vacinas para gatos</strong></p>
<p><img src="gato.png" alt="Gato tomando vacina"></p>
<p>Os gatos devem ser vacinados contra as seguintes doenças:</p>

<ul>
<li>Raiva</li>
<li>Panleucopenia felina</li>
<li>Calicivírus felino</li>
<li>Herpesvírus felino</li>
<li>Leucemia felina</li>
<li>Peritonite infecciosa felina</li>
</ul>

<p><strong>Agendamento de vacinas</strong></p>

<p>Os cães e gatos devem ser vacinados pela primeira vez quando têm de 6 a 8 semanas de idade. Eles devem então ser vacinados novamente a cada ano.</p>

<p><strong>Importância das vacinas</strong></p>

<p>As vacinas são uma parte importante da saúde de qualquer animal de estimação. Elas ajudam a proteger seus animais de estimação de doenças graves e potencialmente fatais.</p>

<p>É importante que seus animais de estimação sejam vacinados regularmente.</p>

<p><strong>Sobre nós</strong></p>

<p>Nossa clínica veterinária é dedicada a fornecer os melhores cuidados possíveis para seus animais de estimação. Temos uma equipe de profissionais qualificados que estão comprometidos em fornecer o melhor atendimento possível.</p>


<p>Esperamos que você visite nossa clínica veterinária em breve!</p>